---
layout: none
---

<!DOCTYPE html>
<!--suppress ALL, SyntaxError -->
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title | default: site.title }}</title>

	{% include head.html %}
</head>
<body class="text-center">
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MWV582X"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div class="container">
		<a class="navbar-brand m-3" href="#">{{ site.title }}</a>
		<br>
		<a id="shopButton" href="https://society6.com/ruedauseil" class="btn btn-outline-primary btn-lg btn-block" target="_blank">Shop</a>
		<br>
		<a id="dribbbleButton" href="https://dribbble.com/nataliario" class="btn bg-dribbble btn-lg btn-block color-white" target="_blank">Dribbble</a>
		<a href="{{ site.url }}" class="btn btn-primary btn-lg btn-block color-white" target="_blank">Blog</a>
		<a href="https://www.facebook.com/ruedauseil" class="btn bg-facebook btn-lg btn-block color-white" target="_blank">Facebook</a>
		<a href="https://www.instagram.com/laruedauseil/" class="btn bg-instagram btn-lg btn-block color-white" target="_blank">Instagram</a>
	</div>

	{% include scripts.html %}
</body>
</html>