# bundle exec jekyll serve

title:        "La Rue d'Auseil"
description: >- # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl:      "" # the subpath of your site, e.g. /blog
url:          "https://ruedauseil.github.io/" # the base hostname & protocol for your site, e.g. http://example.com
social:
  instagram: https://www.instagram.com/laruedauseil/
  dribbble: https://dribbble.com/nataliario

defaults:
- scope:
    path:     "" # an empty string here means all files in the project
  values:
    layout:   "default"
- scope:
    path:     "" # an empty string here means all files in the project
    type:     "posts"
  values:
    layout:   "post"
    permalink: /categories/:categories/:title
- scope:
    path: "_pages"
  values:
    permalink: /:basename:output_ext
- scope:
    path: "/categories"
  values:
    layout: "category"

sass:
  style:      compressed

paginate:     5

include:
- _pages

plugins:
- jekyll-paginate