---
pagination:
    enabled: true
---

<!-- FIRST POST -->
{% if paginator.page == 1 %}
	{% for post in paginator.posts limit:1 %}
		<div class="col-sm-12 homePost homePost--firstPost">
		    <div class="row">
		    	<div class="col-sm-8">
		    		<a href="{{ post.url | prepend: site.baseurl }}" class="homePost__image" style="background-image: url('{{ post.image | prepend: site.baseurl }}')">
			   		</a>
		    	</div>

		    	<div class="col-sm-4">
		    		{% if post.category %}
		    			<span class="homePost__category category_{{ post.category | downcase }}">{{ post.category }}</span>
	    			{% endif %}
				    <h3 class="homePost__title">{{ post.title }}</h3>
				    <p class="homePost__date">{{ post.date | date: '%d %b %Y' }}</p>
				    <div class="homePost__excerpt">{{ post.excerpt }}</div>
				    <a href="{{ post.url | prepend: site.baseurl }}" class="btn btn-outline-primary homePost__readMore">Read more</a>
				</div>
		    </div>
		</div>
	{% endfor %}
{% endif %}


<!-- REST OF POSTS -->
{% assign postsLimit = site.paginate %}
{% assign postsOffset = 0 %}

{% if paginator.page == 1 %}
	{% assign postsLimit = 6 %}
	{% assign postsOffset = 1 %}
{% endif %}
{% for post in paginator.posts offset:postsOffset limit:postsLimit %}
    {% include post-card.html %}
{% endfor %}

<!-- Pagination links -->
<div class="container text-center">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="btn btn-outline-primary">Previous page</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="btn btn-primary">Next page</a>
  {% endif %}
</div>