<!-- COLOR GRADIENTS -->
<svg xmlns="http://www.w3.org/2000/svg" width="0" height="0" x="0" y="0">
    <defs>
        <linearGradient id="defaultGradient">
            <stop offset="35%" stop-color="#0c66b5"/>
            <stop offset="83%" stop-color="#6d0dec"/>
        </linearGradient>
        <linearGradient id="blueGradient">
            <stop offset="35%" stop-color="#0c66b5"/>
            <stop offset="83%" stop-color="#6d0dec"/>
        </linearGradient>
        <linearGradient id="orangeGradient">
            <stop offset="35%" stop-color="#ffc100"/>
            <stop offset="83%" stop-color="#ff0000"/>
        </linearGradient>
    </defs>
</svg>