<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#a16b6b">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">


<!-- Normalize -->
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/normalize.css">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- Fontello -->
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/fonts/fontello/css/auseil.css">
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/fonts/fontello/css/animation.css">

<!-- Theme styles -->
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/main.css">

<script>
    var base_url = '{{ site.baseurl }}',
        pagination_next_url = base_url + '{{ paginator.next_page_path }}',
        pagination_next_page_number = '{{ paginator.next_page }}',
        pagination_available_pages_number = '{{ paginator.total_pages }}';
</script>