<!-- Normalize -->
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/normalize.css">

<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- Fontello -->
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/fonts/fontello/css/auseil.css">
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/fonts/fontello/css/animation.css">

<!-- Theme styles -->
<link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/main.css">

<script>
    var base_url = '{{ site.baseurl }}',
        pagination_next_url = base_url + '{{ paginator.next_page_path }}',
        pagination_next_page_number = '{{ paginator.next_page }}',
        pagination_available_pages_number = '{{ paginator.total_pages }}';
</script>