<header>
	<ul class="header__social nav justify-content-end">
		{% for social in site.social %}
			<li class="nav-item">
				<a class="nav-link bg-{{ social[0] }}" href="{{ social[1] }}" target="_blank"><i class="icon-{{ social[0] }}"></i></a>
			</li>
		{% endfor %}
	</ul>
	<nav class="navbar navbar-expand-lg navbar-light justify-content-center">
		<a class="navbar-brand" href="{{ site.url }}">{{ site.title }}</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	</nav>
	<nav class="header__menu navbar navbar-expand-lg navbar-light justify-content-center">
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Categories <i class="icon-down"></i>
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						{% for category in site.categories %}
							{% assign categoryName = category[0] %}
							<a class="dropdown-item" href="categories/{{ category[0] | slugify }}">{{ site.data.i18n.["ca"].[categoryName] }}</a>
						{% endfor %}
					</div>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="https://society6.com/ruedauseil">Botiga</a>
				</li>
			</ul>
		</div>
	</nav>
</header>