<div class="col-sm-4 homePost">
    <a href="{{ post.url | prepend: site.baseurl }}" class="homePost__image"
       style="background-image: url('{{ post.image | prepend: site.baseurl }}')">
   </a>
	<span class="homePost__category category_{{ post.category | downcase }}">{% if post.category %}{{ post.category }}{% endif %}</span>
    <h3 class="homePost__title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h3>
    <p class="homePost__date">{{ post.date | date: '%d %b %Y' }}</p>
</div>