// === Typography === //
@import url('https://fonts.googleapis.com/css2?family=Karma:wght@400;600&family=Montserrat:wght@400;600&display=swap');

$font-weight-normal: 400;
$font-weight-bold: 600;


// === Colors === //
$color-main: #ee6e04;
$color-second: #b10000;
$color-off: #F4F6F8;
$color-black: darken($color-off, 75%);

// === Resets === //
html {
	scroll-behavior: smooth;
}
body {
	font-family: "Montserrat", sans-serif;
}
a {
    color: initial;
    &:hover {
	    color: initial;
	    text-decoration: none;
	}
}

// ==== Backgrounds === //
.bg-instagram {
	background: linear-gradient(45deg, #F77737 0%, #833AB4 100%);
}
.bg-dribbble {
	background: linear-gradient(45deg, #e57650 0%, #ea4c89 100%);
}

// ==== Categories === //
.category_design {
	background-color: #816793;
}