@import "components/homePost";

// To top
#to-top {
  position: fixed;
  right: 0;
  background-color: rgba($color-second, .7);
  color: #fff;
  bottom: 0;
  margin: 10px;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  text-align: center;
  line-height: 1.5em;
  font-size: 1.5em;
  transition: background-color .3s ease;

  &:hover {
    color: #fff;
    background-color: $color-second;
  }
}

// Buttons
.btn {
  border-radius: 0;

  &.btn-outline-primary {
    $color: $color-main;
    border-color: $color;
    color: $color;

    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:focus {
      background-color: $color;
      box-shadow: none;
      color: #fff;
    }
  }

  &.btn-primary {
    $color: $color-main;
    border-color: $color;
    background-color: $color;

    &:hover,
    &:not(:disabled):not(.disabled):active,
    &:focus {
      background-color: darken($color, 10%);
      border-color: darken($color, 10%);
      box-shadow: none;
      color: #fff;
    }
  }
}