// HEADER
header {
	margin: 40px 0;

	.header__menu {
		position: relative;
		width: 100%;

		&:after {
			content: "";
			background-color: $color-off;
			width: 100%;
			height: 2px;
			position: absolute;
			z-index: -1;
		}

		& > * {
			background-color: #fff;
			padding: 0 20px;
		}
	}
}
// - social
.header__social {
	position: fixed;
    width: 100%;
    padding-right: 5px;
    top: 0;

	.nav-link {
	    color: #fff;
	    margin: 0 6px;
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	    font-size: 1.3em;
	    padding: 10px 5px 5px;
	    transition: margin .3s ease;
	    margin-top: -5px;

	    &:hover {
	    	margin-top: 0;
	    }
	}
}
// - website title
.navbar-light .navbar-brand {
	color: $color-main;
	font-family: "Karma", serif;
	font-size: 2.5em;

	&:hover {
	    color: $color-main;
	}
}
// - menu
.navbar-collapse {
	flex-grow: initial;
}
.nav-link {
	font-size: 0.8em;
	text-transform: uppercase;
}
// - menu dropdown
.navbar-nav .dropdown-menu {
	background-color: $color-off;
	border: 0;
	border-radius: 0;
	padding: 0;
}
.dropdown-item {
	font-size: 0.8em;
	padding: .50rem 1.5rem;

	&.active,
	&:active {
		background-color: initial;
		color: initial;
	}
}