// HEADER
header {
	margin: 40px 0;

	.header__menu {
		position: relative;
		width: 100%;

		&:after {
			content: "";
			background-color: $color-off;
			width: 100%;
			height: 2px;
			position: absolute;
			z-index: -1;
		}

		& > * {
			background-color: #fff;
			padding: 0 5px;
		}
	}
}
// - social
.header__social {
    position: fixed;
    top: 0;
    z-index: 9999;
    right: 0;

	.nav-link {
	    box-shadow: -1px 1px 0px rgba(#fff, .1);
	    color: #fff;
	    margin-right: 10px;
	    border-bottom-left-radius: 5px;
	    border-bottom-right-radius: 5px;
	    font-size: 1.3em;
	    padding: 10px 5px 5px;
	    transition: margin .3s ease;
	    margin-top: -5px;

	    &:hover {
	    	margin-top: 0;
	    }
	}
}
// - website title
.navbar-brand,
.navbar-light .navbar-brand {
	color: $color-black;
	font-family: "Karma", serif;
	font-size: 2.5em;
	margin-right: 0;

	&:hover {
	    color: $color-main;
	}
}
// - menu
.navbar-light .navbar-nav .nav-link {
    padding: 5px 20px;
}
.navbar-collapse {
	flex-grow: initial;
}
.nav-link {
	text-transform: uppercase;
    font-size: 1em;
}
// - menu dropdown
.navbar-nav .dropdown-menu {
	background-color: $color-off;
	border: 0;
	border-radius: 0;
	padding: 0;
	width: 100%;
    min-width: 0;
}
.dropdown-item {
	font-size: 1em;
	padding: 10px 20px;
	transition: all ease .3s;

	&.active,
	&:active {
		background-color: initial;
		color: initial;
	}
	&:focus,
	&:hover {
		color: $color-main;
	}
}

footer {
	height: 100px;
}