// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #000;
$color-white: #FFFFFF;
$color-text: #ffffff;
$color-gray: #7E7E7E;

// Background Colors
$bg-color: #848484;
$bg-color-white: $color-white;
$bg-color-dark: #222228;
$bg-color-gray: #ECF0F1;
$bg-color-gray-light: #FAFAFA;

// Border
$color-border: #E1E0E1;

// Links
$color-link: $color-text;

// Share
$color-twitter: #55ACEE;
$color-facebook: #3B5998;