.post {
  $self: &;

  &__image {
    background-position: 0 50%;
    background-size: 100% auto;
    width: 100%;
    height: 300px;
  }

  &__category {
    display: inline-block;
    font-size: 0.8em;
    text-transform: uppercase;
    color: #fff;
    padding: 2px 5px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__content {
    padding-top: 50px;

    p:first-child {
      text-indent: 2em;
    }
  }
}