/*------------------------------------*\
  Components > Share Icons
\*------------------------------------*/

.c-share {
  display: flex;
  border: 1px solid rgba($color-brand, 0.3);
  line-height: $line-height-small;

  &__item {
    flex: 1;
    text-align: center;
    border-right: 1px solid rgba($color-brand, 0.3);

    &:last-child { border-right: 0; }
  }

  &__link {
    display: block;
    padding: quarter($base-spacing-unit);

    transition: $global-transition;

    &:hover {
      background-color: rgba($color-brand, 0.3);
      fill: #fff;
    }
  }

  &__icon {
    fill: rgba($color-brand, 0.3);
    vertical-align: middle;
  }
}