---
layout: default
---

<div class="post post--{{ page.category | slugify }} col-sm-12">
    {% if page.category %}
        <div class="text-center">
            <span class="post__category category-{{ page.category | slugify }}">{{ site.data.i18n.ca.[page.category] }}</span>
        </div>
    {% endif %}
    <h1 class="post__title text-center">
        <span>{{ page.title }}</span>
    </h1>
    <div class="post__content">
        <div class="col-sm-5">
            <img src="{{ page.image }}" class="img-fluid" />
        </div>
        <div class="col-sm-7">
            <p class="post__date">{{ page.date | date: '%d %b %Y' }}</p>
            {{ content }}
        </div>
    </div>
</div>